*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: aqua;
}
.container-fluid{
    background-color: navajowhite;
}

.carousel-item img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}